PORT=8080
NODE_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_USER=testing
DB_PASSWORD=testing_password
DB_NAME=testing

POSTGRES_USER=testing
POSTGRES_PASSWORD=testing_password
POSTGRES_DB=testing
